
body {
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  margin:0px;
  padding:0px;
  width:100%;
  background-image: linear-gradient(to right, #99d3df , #e9e9e9);
 }
 
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
 }

.App {
  margin-bottom: 2rem;
}

#heading {
  margin-top: 30px;
  color: #414141;
}

#main-section {
  margin-top: 60px;
}

#search-input {
  width: 80%;
  margin: auto;
}

#search-btn {
  margin-top: 30px;
}

#radio-units {
  margin-top: 30px;
  margin-bottom: 30px;
}

#label-units {
  margin-left: 1rem;
}

#forecast{
  color: white;

}

.center-temp {
  margin: auto;
}

.toast {
  background-color: #FFD2D2;
  color: #D8000C;
}

#toast-container div{
  color: #D8000C;
}

/* Responsive Design */

@media screen and (min-width: 600px) {
  .card-lg {
    width: 60%;
    margin:auto;
  }

  #heading {
    font-size: 5rem;
  }
}

@media screen and (max-width: 380px) {
  #heading {
    font-size: 2rem;
  }
}

